.articles>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.articles>ul>li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.articles .articles-card-body {
  margin: 16px;
}

.articles .articles-card-image {
  line-height: 0;
}

.articles>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

#all-articles::after {
  border-bottom: 2px solid #ffea00;
  content: "";
  width: 98px;
  display: block;
  padding-top: 8px;
  margin-bottom: 10px
}

.articles-card-body>p {
  color: dimgray;
  display: block;
  font-size: 14px;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 220px;
}