h2#our-contributors {
    border-bottom: 2px solid #ffea00;
    content: "";
    width: 98px;
    display: block;
    padding-top: 8px;
    margin-bottom: 10px
  }

  h2#our-contributors {
    background-color: antiquewhite;
}
h2 {
    color: greenyellow;
}